{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <section id="register">
        <div class="container">
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="card card-body shadow">
                    <h1 class="h5 text-center">Regjistrohu</h1>
                    <form id="user-reg-form" action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        <table class="table table-borderless">
                            {% if form.errors %}
                                <tr>
                                {% for field in form %}
                                    <td>{{ field.errors }}</td>
                                {% endfor %}
                                </tr>
                            {% endif %}
                            <tr>
                                <td><input id="id_username" name="username"
                                           type="text" class="form-control" placeholder="Emri i perdoruesit"></td>
                            </tr>
                            <tr>
                                <td><input id="id_email" name="email"
                                           type="text" class="form-control" placeholder="Adresa email"></td>
                            </tr>
                            <tr>
                                <td><input id="id_password1" name="password1"
                                           type="password" class="form-control" placeholder="Fjalekalimi"></td>
                            </tr>
                            <tr>
                                <td><input id="id_password2" name="password2"
                                           type="password" class="form-control" placeholder="Konfirmo fjalekalimin">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <button class="btn btn-block" type="submit">Krijo</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
                <div class="text-center text-small mt-3">
                    Keni nje llogari aktive? <a href="{% url 'login' %}">Hyr ne llogari</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}