/*********Navbar********/

.navbar{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand img {
    width: 100px;
}

.login-btn {
    background-color: #F96556;
    color: white !important;
    border-radius: 10px;
    font-size: 15px;
}

.nav-link {
    margin-right: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: #408AB4 !important;
}

.nav-item {
    margin: auto;
}


/*********Intro section********/


#intro-section .container-fluid {
    background-color: #FCC664;
}

#intro-section .col-md-6 {
    color: #FEFEFE;
}

#intro-section .container-fluid img {
    padding: 10%;
}

#intro-section .container-fluid h1 {
    font-family: "Fredoka One", cursive;
    padding-bottom: 30px;
}

#intro-section .container-fluid h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}


.hello-text {
    margin-top: 20%;
}


@media only screen and (max-width: 768px) {
    .hello-text {
        margin-bottom: 100px;
    }

    #intro-section .container-fluid img {
        padding: 0%;
        margin-bottom: 100px;
    }

}

/********Welcome login section*********/
#welcome-login-section{
    margin-top: -30px;
}

#welcome-login-section .container{
    width: 90%;
    margin: auto;
}

#welcome-login-section .container .col-md-5{
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(98, 98, 98, 0.19), 0 6px 6px rgba(240, 230, 230, 0.23);
    border-radius: 13px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

#welcome-login-section .container .col-md-5:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#welcome-login-section .col-9{
    margin: auto;
    padding: 0px;
}

#welcome-login-section .col-3{
    margin: auto;
}
#welcome-login-section h1{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #434957;
    padding: 15px 0px;
}

#welcome-login-section img{
    width: 50px;
}



/**********Statistics Sections**********/

.info-box {
    padding: 20px;
    background-color: #F1F2F2;
    width: 90%;
    height: 400px;
    border-radius: 21px;
    margin: auto auto 50px;
    box-shadow: 0px 8px 8px rgba(136, 88, 88, 0.25);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

.info-box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.info-box img{
    width: 20%;
    margin: 30px;
}

.info-box h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    color: #434957;
    font-size: 25px;
}

.info-box h3 {
    padding-top: 10px;
    font-family: "Comfortaa", cursive;
    color: #434957;
    font-size: 15px;
    text-align: justify;
}

.info-box .btn{
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    font-family: "Fredoka One", cursive;
    font-weight: lighter;
    font-size: 20px;
}

.info-box .test-btn{
    background-color: #FCC055;
}

.info-box .forum-btn{
    background-color: #5EB1D3;
}

.info-box .doctor-btn{
    background-color: #FE8F57;
}

#statistics {
    margin-top: 100px;
    margin-bottom: 100px;

}

/*************Footer*************/
#footer {
    background: #444444;
}

#footer .navbar-brand {
    padding-top: 40px;
}

#footer .row {
    border-top: 1px solid #ffffff;
    padding-bottom: 40px;
}

#footer h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #dedada;
    padding-top: 20px;
}

#footer .developer {
    font-weight: bold;
}

#footer .fab {
    margin-right: 20px;
}

#footer .fa-facebook {
    color: #408AB4;
    font-size: 40px;
}

#footer .fa-envelope-square {
    color: #F96556;
    font-size: 40px;
}

@media only screen and (max-width: 768px) {
    #footer .container{
        text-align: center;

    }
}