#result-positive-section {
    background-color: #BED3A7;

}
#result-negative-section {
    background-color: #FF9292;

}

.poki-logo-result {
    width: 100%;
    padding-top: 20px;
}

.result-card {
    width: 80%;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin: 30px auto;
}

.result-card h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #434957;
}

.result-card img {
    padding: 20px;
}

.result-card h2 {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #434957;
}

.result-card span {
    font-weight: 600;
}

@media only screen and (min-width: 768px ) {
    .result-card {
        margin: 200px 0px;
    }

}