#test-form {
    background: #FDB35D;
}

#test-form .col-md-6 {
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

ul {
    list-style-type: none;
}

#test-form input {
    margin-bottom: 30px;
}

#test-form .col-md-6 h1 {
    font-size: 30px;
    font-family: "Fredoka One", cursive;
    color: #408AB4;
    padding: 20px;
}


#result {
    background: #FDB35D;
}

#result .col-md-6 {
    width: 50%;
    background: white;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#result h1 {
    padding-bottom: 40px;
    font-size: 20px;
    font-family: "Fredoka One", cursive;
    color: #333E44;
    line-height: 50px;
}

#result i {
    padding-top: 40px;
    color: #F96556;
    font-size: 60px;
    padding-bottom: 30px;

}


#no-login-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#no-login-section .container {
    width: 50%;
    background: #ECECEC;
    border-radius: 80px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#no-login-section h4 {
    padding: 5%;
    font-size: 14px;
    font-family: Comfortaa, cursive;
    font-weight: bold;
    color: #18445D;
}

#no-login-section .row {
    margin-left: 30%;
    margin-right: 30%;
}

#no-login-section .col-md-6 {
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {

    #no-login-section .container {
        width: 80%;
        border-radius: 50px;
    }
}

