#test-form {
    background: #FCC664;
}

#test-form .col-md-6 {
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

ul {
    list-style-type: none;
}

#test-form .col-md-6 h1 {
    font-size: 30px;
    font-family: "Fredoka One", cursive;
    color: #408AB4;
    padding: 20px;
}


#result {
    background: #FDB35D;
}

#result .col-md-6 {
    width: 50%;
    background: white;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#result h1 {
    padding-bottom: 40px;
    font-size: 20px;
    font-family: "Fredoka One", cursive;
    color: #333E44;
    line-height: 50px;
}

#result i {
    padding-top: 40px;
    color: #F96556;
    font-size: 60px;
    padding-bottom: 30px;

}


#test-form label {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #434957;
}

#test-form li {
    background-color: #eaeaea;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 10px;
}

#test-form .btn{
    margin: 40px 0px;
}