{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <section id="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class="text-center">Login</h1>
                    <form method="post">
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}

                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field field class="form-control" %}
                                {% endif %}

                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <input class="btn" type="submit" value="Hyr">
                    </form>
                    <div class="container text-center mt-4">
                        <h5>Nuk ke llogari?</h5>
                        <a href="{% url 'register' %}">
                            <button class="btn mt-2" href="{% url 'register' %}">Regjistrohu</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
{% endblock %}