#discussion-list {
    background: #E0E1E1;
    padding: 30px 0px;
}

#discussion-list a {
    text-decoration: none;
}

.discussion-list h1 {
    padding-top: 60px;
    font-family: 'Fredoka One', sans-serif;
    font-size: 40px;
    line-height: 36px;
    color: #434957;
}

.discussion-list .btn {
    margin: 60px auto;
    background: #408AB4;
    padding: 10px 50px;
    border-radius: 0px;
    color: white;
    font-family: 'Fredoka One', sans-serif;
}

.discussion-list-object-single {
    background: rgba(249, 247, 241, 0.83);
    border-radius: 9px;
    margin: 20px auto;
}

.discussion-list-object-single:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.discussion-list-object-single h2 {
    margin: 20px auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #434957;
}

.discussion-list-object-single h3 {
    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    color: #434957;
}

@media only screen and (min-width: 768px) {
    .discussion-list-object-single {
        width: 70%;
    }
}