#discussion-new {
    padding: 100px 5px;
    background: #E0E1E1;
}

#discussion-new form {
    margin: 20px auto;
}

.discussion-new h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 30px;
    line-height: 24px;
    color: #434957;
    padding-bottom: 40px;
}

#discussion-new label {
    font-family: 'Fredoka One', sans-serif;
    font-size: 18px;
    color: #434957;
    padding-top: 20px;

}

.discussion-new .form-control {
    background: #F9F7F1;
    border-radius: 10px;
}

.discussion-new-form .btn {
    margin-top: 30px;
    background: #408AB4;
    border-radius: 13px;
    font-family: 'Fredoka One', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 12px 40px;

}


@media only screen and (min-width: 768px) {
    .discussion-new-form {
        margin: auto;
        width: 50%;
    }
}