#discussion-detail {
    background: #E0E1E1;
    padding: 30px 0px;
}

.discussion-author {
    position: absolute;
    left: -10px;
    background: #F9F7F1;
    border-radius: 13px;
    width: 200px;
}

.discussion-author h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 23px;
    padding: 10px;
    color: #434957;
}


.discussion-detail {
    margin-top: 100px;
}

.discussion-detail h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 30px;
    line-height: 24px;
    color: #434957;
}

.discussion-detail p {
    margin: 50px auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #434957;
    text-align: justify;
    width: 95%;
}


.comments h3 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #434957;
}

.comment-single {
    background: rgba(249, 247, 241, 0.83);
    border-radius: 9px;
    margin: 20px 0px;
    padding: 20px;
}

.comment-single h2 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 17px;
    line-height: 16px;
    color: #434957;
}

.comment-single h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #434957;

}

.comments-form{
    width: 50%;
}

.comments-form .btn{
    margin: 20px auto;
    background: #434957;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
    .comment-single {
        width: 50%;
    }

    .discussion-detail p {
        width: 70%;
    }


    .comments {
        margin-left: 20%;
    }
}