{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section id="discussion-detail">
        <div class="discussion-author text-center">
            <h2>{{ object.autori }}</h2>
        </div>
        <div class="discussion-detail container text-center">
            <h1>{{ object.titulli }}</h1>
            <p>{{ object.teksti }}</p>
        </div>
        <section id="comments" class="text-center">
            <div class="comments container text-left">
                <h3>Komente</h3>
                {% for comment in object.comments.all %}
                    <div class="comment-single text-left">
                        <h2>{{ comment.autori }}</h2>
                        <h3>{{ comment.komenti }}</h3>
                    </div>
                {% endfor %}
                <div class="comments-form">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                        <button class="btn" type="submit">Dergo</button>
                    </form>
                </div>

            </div>
        </section>

    </section>
{% endblock %}

